@import "glitch.css";

:root {
  color-scheme: light dark;

  --dark-color: rgb(38, 38, 38);
  --light-color: rgb(248, 248, 248);
  /* --back-color: */

  --blue-3: #11253f;
  --plum-3: #341b34;
  --crimson-5: #f9d8e7;
  --blue-5: #cee7fe;

  /* background-color: var(--dark-color); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scrollbar-color: #666 #201c29;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;

  /* --color: 248, 248, 248;
  --color-with-transparency: color-mix(
    in srgb,
    var(--color) var(--transparency, 100%),
    transparent
  ); */

  --text-color: var(--dark-color);
  --bkg-color: var(--light-color);
  --featured-img: linear-gradient(180deg, #fff, #262626);
  background: linear-gradient(120deg, var(--crimson-5), var(--blue-5));

}

html.dark-theme {
  --text-color: var(--light-color);
  --bkg-color: var(--dark-color);
  background: linear-gradient(120deg, var(--plum-3), var(--blue-3));
}

html {
  transition: all ease-in-out 0.3s;
  color: color-mix(in srgb, var(--text-color) 30%, transparent);
  color: var(--text-color);
  /* background-color: var(--bkg-color); */
  /* background: var(--bkg-color); */
  /* background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0), var(--bkg-color)),
    var(--featured-img); */
  /* color: red; */
}

.font {
  font-family:
    'Adobe Text Pro',
    -apple-system,
    BlinkMacSystemFont,
    serif;
  /* font-size-adjust: 1.1; */
  line-height: 1.5;
  font-weight: 400;
  color: transparent;
  opacity: 0;
}

html.font-loaded .font {
  /* color: inherit;  */
  /* Override `transparent` from .font */
  color: var(--text-color);

}

html.font-loaded span {
  font-size: 3.2em;
  line-height: 1.1;
  opacity: 1;
  /* letter-spacing: 20px; */
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

@supports (-webkit-text-stroke: 1px black) {
  html.font-loaded span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(38, 38, 38, 0.5);
    text-shadow: none;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  html {
    --text-color: var(--light-color);
    --bkg-color: var(--dark-color);
    background: linear-gradient(120deg, var(--plum-3), var(--blue-3));
  }

  html.light-theme {
    --text-color: var(--dark-color);
    --bkg-color: var(--light-color);
    background: linear-gradient(120deg, var(--crimson-5), var(--blue-5));
  }
}
